.job-list {
    display: flex;
    justify-content: center;
    margin-left: 350px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    max-width: 1200px;
    margin-top: 30px;
    
  }
  
  .job-card {
    
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .job-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .job-card-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .job-card-actions {
    display: flex;
    gap: 10px;
  }
  
  .job-card-description {
    margin-top: 10px;
    font-size: 14px;
    color: #777;
  }
  
  @media (max-width: 600px) {
    .job-list {
      flex-direction: column;
      align-items: center;
      margin-left: 0;
    }
    
    .grid-container {
      grid-template-columns: 1fr;
      margin: 30px 20px;
    }
    
    .job-card {
      max-width: 100%;
    }
  }